.project {
    width: 100%;
    position: relative;
    transition: var(--transition);
    border-radius:0.5rem
}

.project:hover {
    border-bottom:1.3px solid rgba(255, 180, 180);
    box-shadow: 13px 15px 35px rgba(255, 20, 20, 0.2);
}

.project img{
    border-radius: 5rem;
    border-bottom:1px solid var(--color-primary);
    opacity: 1;
    transition: var(--transition);
}

.project:hover img{
    border-color: transparent;
    border-radius: 0.5rem;
    opacity: 0.4;
}

.project__detail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: grid;
    grid-template-rows: 40% 55%;
    gap: 1rem;
    transition: var(--transition);
    
}

.project:hover .project__detail{
    opacity: 1;
}

.project__detail .header {
    flex-basis: 20%;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: auto 2rem;
    padding: 1.5rem;
}



.project__detail .footer {
    padding: 3rem 0.5rem 2rem 2rem;
    overflow: scroll;
    background: linear-gradient(20deg, var(--color-bg-variant), transparent);
}