.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primaty),
        transparent
    );
    display: grid;
    place-items: center;
    position: relative;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: translateX(1.2rem);
    transition: var(--transition);
}

.about__me:hover .about__me-image{
    transform: translateX(0);
}

.about__me-card {
    border-radius: 50%;
    background: linear-gradient(30deg, var(--color-bg-variant), var(--color-primary));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 32%;
    height: 32%;
    transition: var(--transition);
}

.about__me:hover .about__me-card {
    left: 10px;
    width: 70%;
    height: 90%;
    border-radius: 1rem;
}


.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
} 

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    overflow: hidden;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* media (medium device)*/
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* media (small device)*/
@media screen and (max-width: 600px) {
    .about_me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me{
        width: 65%;
    }

    .about__cards {
        grid-template-columns: 1fr;
        gap: 1.2rem;
        justify-items: center;
    }

    .about__card {
        width: auto;
    }

    .about__content {
        text-align: center;
        width: 90vw;
    }

    .about__content p {
        margin: 0 0;
    }
}